env:
  matrix:
  - TRAVIS_PYTHON_VERSION="2.7"
  - TRAVIS_PYTHON_VERSION="3.5"
os:
- linux
- osx
sudo: false
install:
- echo "Build on $TRAVIS_OS_NAME for Python $TRAVIS_PYTHON_VERSION"
- bash .travis/install_python.sh
- export PATH="$HOME/miniconda/bin:$PATH"
- python setup.py install
script:
- nosetests heat_solver --with-doctest
- python run_heat.py > actual.txt
- diff actual.txt benchmark.txt
